In [1]:
import numpy as np
import pandas as pd

In [21]:
data = pd.read_csv("/Users/leoadlakha/Documents/Research Work/TDTVD/csv/insertion.csv", header = 0)

In [22]:
data

,Insert In ( Video file path ),Insert from ( Video file path ),start_ins_in_1,ins_start_2,ins_end_2,Type
0,/Users/leoadlakha/Documents/Research Work/TDTV...,/Users/leoadlakha/Documents/Research Work/TDTV...,100,30,80,S
1,/Users/leoadlakha/Documents/Research Work/TDTV...,/Users/leoadlakha/Documents/Research Work/TDTV...,100,30,80,D

In [13]:
in_from = data.iloc[0:1, 1:2]

In [18]:
in_from.to_string()

'                                                       Insert from ( Video file path )\n0  /Users/leoadlakha/Documents/Research Work/TDTVD/original_video/car_parking_nsut.mp4'

In [23]:
data.to_string()

'                                                         Insert In ( Video file path )                                                      Insert from ( Video file path )  start_ins_in_1  ins_start_2  ins_end_2 Type\n0  /Users/leoadlakha/Documents/Research Work/TDTVD/original_video/car_parking_nsut.mp4  /Users/leoadlakha/Documents/Research Work/TDTVD/original_video/car_parking_nsut.mp4             100           30         80    S\n1           /Users/leoadlakha/Documents/Research Work/TDTVD/original_video/example.mp4          /Users/leoadlakha/Documents/Research Work/TDTVD/original_video/example2.mp4             100           30         80    D'

In [24]:
import csv

In [25]:
csv_file = "/Users/leoadlakha/Documents/Research Work/TDTVD/csv/insertion.csv"
txt_file = "/Users/leoadlakha/Documents/Research Work/TDTVD/csv/input.txt"
with open(txt_file, "w") as my_output_file:
    with open(csv_file, "r") as my_input_file:
        [ my_output_file.write(" ".join(row)+'\n') for row in csv.reader(my_input_file)] 
    my_output_file.close()